
<div class="row" >
	<div class="btn-group col-sm-offset-1">
	<button class="btn btn-default btn-sm" id="butCalculate" ng-click="calcPercentTable()">Рассчитать</button>
	<button class="btn btn-default btn-sm" ng-click="addRow()">Добавить строку</button>
	    <button class="btn btn-default btn-sm" ng-click="deleteRow()">Удалить строку</button>
		<button class="btn btn-default btn-sm" ng-click="switchRow('up')"><span class="glyphicon glyphicon-arrow-up"></span></button>
		<button class="btn btn-default btn-sm" ng-click="switchRow('down')"><span class="glyphicon glyphicon-arrow-down"></span></button>
	</div>
</div>


<div class="row row-padding">
	<div class="col-sm-10 ">
		<table class="Kalendarnii table-hover table-condensed ">
			<tr>				
				<td rowspan="3">№ <br><p class="text-nowrap">п/п</p></td>
				<td rowspan="3">Наименование объектов и видов работ</td>
				<td colspan="2">Сметная стоимость тыс. руб. (BRN)</td>
				<td colspan={{timeBuildingCeil}} ng-show="timeBuilding > 0">Распределение капвложений по периодам строительства</td>
			</tr> 

			<tr>
				<td rowspan="2">Всего</td>
				<td rowspan="2">СМР</td>
				<td ng-repeat="years in arrayYearsColdspan track by $index" 
				colspan={{years.coldspan}} ng-show="timeBuilding > 0">{{years.year}}</td>
			</tr>
			<tr>
				<td ng-repeat="Month in arrayMonth track by $index">{{Month}}</td>
			</tr>


			<tr ng-repeat="Row in table track by $index" ng-click="clickRowKalendarnii($event.currentTarget)" >

				<td >{{$index+1}}</td>
				<td ng-repeat="(key, value) in Row track by $index" ng-class="key=='name' ? 'tdLeft' : 'tdCentr' ">

<span> <!-- ng-class="key=='name'||key=='CMP'||key=='total' ? '' :'underLine'" -->
					<text-tabl ng-if="!Row[key].hasOwnProperty('first')" calculate-table text="Row[key]" key="{{key}}"></text-tabl>

					<text-tabl ng-if="Row[key].hasOwnProperty('first')" calculate-table="first" text="Row[key].first" key="{{key}}"></text-tabl>
</span>
					<text-tabl ng-if="Row[key].hasOwnProperty('first')" calculate-table="second" text="Row[key].second" key="{{key}}"></text-tabl>

				</td>

<!--           Row[key].hasOwnProperty('first')

<td ng-repeat="(key, value) in row"><text-tabl text="row[key]"></text-tabl><text-tabl text="2"></text-tabl></td>
	<td ng-repeat="Month in arrayMonth track by $index" ng-click="clickPercent($event, Month)" data-change="false" >{{Month.value}}
	<input type="text" class="form-control input-sm" id="edit" ng-if="showInput" ng-blur="inputPercentBlur()" >
	</td>
-->

</tr>

<tr ng-show="Percent.length>0">
	<td > </td>
	<td >Распределение капвложений по месяцам </td>
	<td >100%</td>
	<td >100%</td>
	<td ng-repeat="cent in Percent track by $index">{{cent}}</td>

</tr>

</table>

</div>
</div>